$background-color: #F9F0E4;
$logo-color: #456672;
$menu-header-color: #BD684A;
$content-color: #423532;
$hover-color: #1a936f;

$primary-line-height: 1.6;

$content-head-font-family: 'Italiana', sans-serif;
$logo-font-family: 'Sail', cursive;
$content-font-family: 'Cabin', sans-serif;




