@import 'variables', 'mixin';


/*---WRAPPER STYLING-*/

.wrapper {
	background-color: $background-color;
	// width: 500px;
}

/*---HEADER and NAVIGATION--*/

.header {
	padding-top: 20px;
	text-align: center;

	.logo {
		color: $logo-color;
	}

	.navigation {
		color: $menu-header-color;
		padding: 10px 0 10px 0;
		border-bottom: solid #423532 2px;
		border-top: solid #423532 2px;
		width: 200px;
		margin: 20px auto;
	}
}

.large_nav {
	display: none;
}

/*--MENU--*/

.menu_header {
	background-color: $menu-header-color;
	.menu{
		color: $background-color;
		margin: 0 auto 40px auto;
		text-align: center;
		padding: 20px;
	}
}

.specialities {
	margin: 0 auto;
	text-align: center;
	font-weight: 600;
	font-size: 1.5em;
	color: $content-color;
}

.menu_item_container {
	padding: 10px 0;
}

.menu_item {
	margin: 30px 60px;
	font-size: 1.125em;
	color: $content-color;

	.bold {
		font-weight: 600;
	}
}


/*----FONTS---*/

.logo {
	font-family: $logo-font-family;
	font-size: 2em;
}

.menu_item, .navigation, .menu_subheader, a {
	font-family: $content-font-family;
}

.menu {
	font-family: $content-head-font-family;
	font-size: 4em;
}

@media screen and (min-width: 501px) {
	.wrapper {
		width: 100%;
	}

	.logo {
		font-size: 3em;
	}

	.menu {
		font-size: 6em;
	}

	.main {
		overflow: hidden;
	}

	.menu_item_container {
		padding: 10px 80px;
		overflow: hidden;
		box-sizing: border-box;
	}

	.col {
		@include grid1(3);

		.menu_item {
			margin: 20px 0;
		}
	}
}

@media screen and (min-width: 901px) {

	.logo {
		font-size: 4em;
		padding: 0 10px 50px 10px;
		display: inline-block;
	}

	.nav_border_right, .nav_border_left {
		display: inline-block;
		border-bottom: solid #423532 2px;
		border-top: solid #423532 2px;
	}

	.large_nav {
		display: inline-block;
		text-decoration: none;
		color: $menu-header-color;
		padding: 10px;

		&:hover {
			color: $hover-color;
		}
	}

	.navigation {
		display: none;
	}

	.menu_header{
		.menu {
			font-size: 7em;
			padding: 40px;
		}
	}

	.specialities {
		font-size: 2em;
		padding: 80px 0 40px 0;
	}

	.col {
		@include grid2(2);
		height: 120px;
	}
}





