$header-font: 'Averia Serif Libre', cursive;
$navigation-font: 'Roboto', sans-serif;
$body-font: 'Lato', sans-serif;

$red-color: #e46744;
$green-color: #36beac;
$grey-color: #f4f4f4;
$black-color: #454545;
$navy-color: #2a3137;



