@import 'variables', 'mixin';
@import url(https://fonts.googleapis.com/css?family=Averia+Serif+Libre:400italic,700|Roboto:700|Lato:400,700);

.wrapper {
	width: 100%;


	.header {
		background-color: $grey-color;
		box-shadow: 1px 0 black;
		width: 100%;
		vertical-align: middle;

		.style-guide {
			color: $navy-color;
			font-family: $header-font;
			font-weight: 700;
			font-size: 1.875rem;
			line-height: 1.6;
			padding-top: 20px;
			padding-bottom: 20px;
			text-align: center;
		}
	}

.guide-description {
	color: $black-color;
	font-family: $body-font;
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.6;
	margin-top: 100px;
	margin-left: 30px;
	margin-right: 30px;
}

/*Stylings for headers of each section*/

	.header-text {
		border-bottom: 3px solid $navy-color;
		color: $navy-color;
		font-family: $header-font;
		font-size: 1.875rem;
		padding-bottom: 15px;
		padding-top: 100px;
		margin-left: 30px;
		margin-right: 30px;
		display: block;
		clear: both;
	}
		
}

/*Color palette styling*/

.row {
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;

	.col {
		@include grid1(12);
		margin-bottom: 15px;
	}
}

.body-wrapper {
	max-width: 700px;
	margin: 0 auto;
}

.green {
	background-color: $green-color;
	height: 100px;
}

.red {
	background-color: $red-color;
	height: 100px;
}

.grey {
	background-color: $grey-color;
	height: 100px;
}

.black {
	background-color: $black-color;
	height: 100px;
}

.navy {
	background-color: $navy-color;
	height: 100px;
}

.hex-code {
	color: $black-color;
	font-family: $body-font;
	margin-top: 5px;
	margin-bottom: 5px;
}

/*Typography styling*/


.typography-header {
	color: $navy-color;
	font-family: $header-font;
	font-size: 1.875rem;
	font-weight: 400;
	line-height: 1.6;
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
}

.typography-nav {
	color: $black-color;
	font-family: $navigation-font;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.6;
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
}

.typography-body {
	color: $black-color;
	font-family: $body-font;
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.6;
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
}

/*Navigation section styling*/

ul {
	list-style: none;
	margin: 0;
	padding-left: 30px;
	padding-top: 30px;
	overflow: hidden;

	li {
		float: left;
		font-family: $navigation-font;
		font-size: 1.5rem;
		line-height: 1.6;
		padding-right: 30px;
	}
}

a {
	color: $black-color;
	font-weight: 700;
	text-decoration: none;

	&:hover {
		color: $green-color;
	}

}

.link-ex {
	font-family: $body-font;
	font-size: 1.125rem;
}

svg {
	width: 100px;
	height: 100px;
	padding-top: 30px;
	padding-left: 30px;
}

.row2 {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 30px;
	.col {
		@include grid1(12);
		background-color: $black-color;
		height: 100px;
		margin-bottom: 15px;
		
	}
}

@media screen and (min-width: 401px) {

	.row {
		.col {
			@include grid1(6);

			&:nth-child(even) {
    			margin-right: 0;
  			}
		}
	}
}

@media screen and (min-width: 701px) {

	.row {
		.col {
			@include grid1(2.4);

			&:nth-child(even) {
    			margin-right: 5%;
  			}

		}
	}

	.row2 {
		.col6 {
			@include grid1(6);
			background-color: $black-color;
			height: 100px;
			margin-bottom: 15px;
		}
	}

	.row2 {
		.col4 {
			@include grid1(4);
			background-color: $black-color;
			height: 100px;
			margin-bottom: 15px;
		}
	}
}






