.header {
	background-image: url(images/hero.jpg);
	background-size: cover;
	color: #FFFEFF;
	font-family: 'Lato', sans-serif;
	display: block;
	padding-top: 10px;
	text-align: center;
}

.nav {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}

.logo1 {
	float: left;
}

ul {
	display: inline-block;
	float: right;
	margin: 0;
	padding-left: 0;
}

li {
	display: inline-block;
	vertical-align: middle;
	padding-top: 10%;
	padding-left: 20px;
}

.searchimg,
.featarticle1,
.featarticle2,
.featarticle3 {
	float: left;
}

a,
li > img {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #DCD1C8;
}

h1 {
	font-size: 45px;
	margin: 15% 25% 0 25%;
	text-align: center;
	font-weight: normal;
}

h4 {
	font-size: 18px;
	padding: 0 20% 10% 20%;
	text-align: center;
	line-height: 1.3;
	font-weight: normal;
}

em {
	font-style: italic;
}

.main {
	width: 500px;
	padding-left: 30px;
	padding-right: 30px;
	overflow: hidden;
	box-sizing: border-box;
}

.section1,
.section2,
.section3, {
	margin-top: 20px;
	margin-bottom: 20px;
}

.title {
	font-size: 20pt;
	font-family: 'Lato', sans-serif;
	color: #373E46;
	margin: 0;
}

.profile1 {
	border-radius: 50%;
	height: 10%;
	width: 10%;
	float: left;
	margin-top: 2%;
	display: inline-block;
	vertical-align: middle;
}

.namedate {
	font-size: 12px;
	color: #86796A;
	font-family: 'Lato', sans-serif;
	float: left;
	margin: 2% 0 0 2%;
	padding-top: 3%;
}

.article1 {
	color: #373E46;
	font-family: 'Lato', sans-serif;
	margin-top: 15%;
	line-height: 1.7;
	clear: both;
}

.image_wrapper {
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
}

.leftimage {
	width: 210px;
	height: 210px;
	float: left;
	margin-right: 5px;
	overflow: hidden;
}

.rightimage {
	width: 210px;
	height: 210px;
	margin-left: 5px;
	float: left;
	overflow: hidden;
}

.section4 {
	clear: both;
	padding-top: 40px;
}

.article2 {
	color: #373E46;
	font-family: 'Lato', sans-serif;
	margin: 0;
	line-height: 1.7;
	font-size: 12pt;
}

.blockquote {
	color: #86796A;
	font-family: 'Lato', sans-serif;
	border-left: 1px solid #373E46;
	padding-left: 30px;
	font-size: 16pt;
	font-style: italic;
	margin: 30px 0 30px 0;
	line-height: 1.7;
}

.article3 {
	margin: 0;
	color: #373E46;
	font-family: 'Lato', sans-serif;
	line-height: 1.7;
	font-size: 12pt;
}

.border {
	border-bottom: 1px solid #373E46;
	padding: 20px;
}

.section5 {
	margin-top: 45px;
	text-align: center;
	font-family: 'Lato', sans-serif;
}

.profile2 {
	border-radius: 50%;
}

.name {
	margin-top: 25px;
	color: #373E46;
	font-size: 16pt;
	text-align: center;
}

.namedescription {
	margin-top: 10px;
	color: #373E46;
	font-style: italic;
	text-align: center;
}

.social_media_wrapper {
	margin-top: 30px;
	overflow: hidden;
}

.facebook,
.instagram,
.twitter {
	padding: 20px 0;
	height: 32%;
	text-align: center;
	color: #fff;
	font-size: 16pt;
	font-family: 'Lato', sans-serif;
}

.facebook {
	background-color: #3D5C98;
}

.instagram {
	background-color: #407398;
	margin: 2% 0;
}

.twitter {
	background-color: #59AEEA;
}

.featuretitle {
	color: #373E46;
	margin-top: 40px;
	font-size: 16pt;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
}


.featurearticles_wrapper {
	overflow: hidden;
}

.featarticle1 {
	margin-top: 30px;
	font-size: 40pt;
	font-weight: bold;
	color: #fff;
	font-family: 'Lato', sans-serif;
	padding: 45px 150px 45px 30px;
	overflow: hidden;
	background-image: url(images/bluberries.jpg);
	background-size: cover;
	background-position: center;
}

.featarticle2 {
	margin-top: 40px;
	font-size: 40pt;
	font-weight: bold;
	color: #fff;
	font-family: 'Lato', sans-serif;
	padding: 45px 150px 45px 30px;
	box-sizing: border-box;
	background-image: url(images/san_francisco.jpg);
	background-size: cover;
	background-position: center;
}

.featarticle3 {
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 40pt;
	font-weight: bold;
	color: #fff;
	font-family: 'Lato', sans-serif;
	padding: 45px 100px 45px 30px;
	box-sizing: border-box;
	background-image: url(images/woods.jpg);
	background-size: cover;
	background-position: center;
}

.footer {
	background-color: #373E46;
	padding: 5px;
	overflow: hidden;
	font-family: 'Lato', sans-serif;
}

.logo {
	width: 250px;
	height: 75px;
	margin: 40px auto 0 auto;
	text-align: center
}


.copyright {
	margin: 13px auto 0 auto;
	color: #fff;
	font-size: 12pt;
	text-align: center;
}


.footernav {
	width: 210px;
	margin: 20px auto 40px auto;
	color: #fff;
}

.footernav > a {
	color: #fff;
	text-decoration: none;
	margin: 0 8px;
}

.footernav a:hover {
	color: #DCD1C8;
}

@media screen and (min-width: 800px) {
	.logo {
		float: left;
	}
	
	.logodiv1 {
		float: left;
		padding-left: 10px;
	}

	.copyright {
		margin-top: 15px;
		margin-left: 30px;
	}
	
	.footernav {
		float: right;
		margin-top: 55px;
	}

	.invisible {
		visibility: hidden;	
	}

	h1 {
		font-size: 60pt;
	}

	h4 {
		font-size: 28pt;
	}

	.screenshiftright {
		width: 40%;
		padding-left: 15px;
		overflow: hidden;
		box-sizing: border-box;
	}

	.screenshiftleft {
		width: 60%;
		padding-bottom: 40px;
		float: left;
		overflow: hidden;
		box-sizing: border-box;
	}

	.main {
		width: 100%;
	}

	.section5 {
		margin-top: 0;
	}

	.name {
		margin-top: 20px;
		margin-bottom: 0;
	}

	.namedescription {
		margin-top: 0;
	}

	.facebook {
		float: left;
	}

	.facebook,
	.instagram,
	.twitter {
		float: left;
		min-width: 32%;
		font-size: 11pt;
	}

	.soc {
		padding: 20px 5px;
	}

	.instagram {
		margin: 0 3px;
	}

	.border {
		clear: both;
	}

	.featuretitle {
		margin-bottom: 0;
	}

	.featarticle1 {
		height: 49%;
		margin-top: 10px;
		font-size: 30pt;
		padding: 30px 155px 30px 30px;
	}

	.featarticle2 {
		float: left;
		width: 49%;
		min-height: 145px;
		margin-top: 5px;
		font-size: 20pt;
		padding: 40px 40px 40px 15px;
	}

	.featarticle3 {
		float: left;
		width: 49%;
		margin-left: 5px;
		margin-top: 5px;
		font-size: 20pt;
		min-height: 145px; 
		padding: 25px 50px 25px 15px;
	}

}
