$background-color: #F9F0E4;
$logo-color: #0C6A8B;
$menu-header-color: #BD684A;
$content-color: #716865;
$hover-color: #4ABDA2;

$primary-line-height: 1.6;

$content-head-font-family: 'Marvel', sans-serif;
$logo-font-family: 'Sail', cursive;
$content-font-family: 'Cabin', serif;




