@import url(https://fonts.googleapis.com/css?family=Marvel:700|Sail|Cabin:400,600);
.info_box_wrapper {
  box-sizing: border-box;
  border: 2px solid #BD684A;
  width: 90%;
  margin: 30px auto;
  text-align: center;
  overflow: hidden; }
  .info_box_wrapper .hours {
    padding: 50px;
    font-size: 1em;
    line-height: 1.5em;
    color: #BD684A;
    display: inline-block;
    float: left;
    margin: 0; }
  .info_box_wrapper .border {
    height: 150px;
    border-right: 2px solid #BD684A;
    display: inline-block;
    position: relative;
    top: 25px; }
  .info_box_wrapper .hours2 {
    padding: 50px;
    font-size: 1em;
    line-height: 1.5em;
    color: #BD684A;
    display: inline-block;
    float: right;
    margin: 0; }

.hours, .hours2 {
  font-family: "Marvel", sans-serif;
  font-size: 1em; }

@media screen and (min-width: 650px) {
  .info_box_wrapper .hours, .info_box_wrapper .hours2 {
    font-size: 1.3em; }
  .info_box_wrapper .border {
    top: 50px; } }
/*---WRAPPER STYLING-*/
.wrapper {
  background-color: #EBEDEF; }

/*---HEADER and NAVIGATION--*/
.header {
  padding: 20px 0;
  width: 100%;
  text-align: center; }
  .header .logo {
    color: #4A9FBD;
    text-align: center; }
  .header .navigation {
    color: #BD684A;
    padding: 0;
    margin: 0 auto;
    font-size: 2em;
    text-decoration: none; }
    .header .navigation:hover {
      color: #1a936f; }

.large_nav {
  display: none; }

/*--MENU--*/
.menu_header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/menu_7.jpg) 0 0 no-repeat;
  background-size: cover;
  background-position: 60%; }
  .menu_header .menu {
    color: #EBEDEF;
    margin: 0 auto;
    text-align: center;
    padding: 60px; }

.specialities {
  margin: 50px auto 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  color: #BD684A; }

.menu_item_container {
  padding: 10px 0;
  max-width: 500px;
  margin: 0 auto; }

.menu_item {
  margin: 30px 60px;
  font-size: 1.125em;
  color: #716865; }
  .menu_item .bold {
    font-weight: bold; }

.menu_border {
  margin: 0 auto;
  width: 50%;
  border-top: solid #4A9FBD 2px; }

/*--FOOTER---*/
.footer {
  height: 10%;
  background-color: #4A9FBD;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center; }

ul {
  padding: 0; }
  ul li {
    text-decoration: none;
    display: inline-block; }

/*----FONTS---*/
.logo {
  font-family: "Sail", cursive;
  font-size: 2em; }

.menu_item {
  font-family: "Cabin", serif; }

.navigation, a {
  font-family: "Marvel", sans-serif; }

.menu {
  font-family: "Marvel", sans-serif;
  font-size: 6em; }

.menu_subheader {
  font-family: "Marvel", sans-serif;
  font-size: 1em; }

@media screen and (min-width: 601px) {
  .wrapper {
    width: 100%; }

  .logo {
    font-size: 3em; }

  .large_nav {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    color: #BD684A;
    font-size: 1.3em;
    font-weight: 700; }
    .large_nav:hover {
      color: #4ABDA2; }

  .navigation {
    display: none; }

  .menu {
    font-size: 8em;
    padding: 80px; }

  .main {
    overflow: hidden; }

  .menu_item_container {
    padding: 10px 80px 80px 80px;
    overflow: hidden;
    box-sizing: border-box;
    max-width: 1000px; }

  .col {
    width: 45%;
    float: left;
    box-sizing: border-box;
    margin-right: 10%; }
    .col:nth-child(even) {
      margin-right: 0; }
    .col .menu_item {
      margin: 20px 0; } }
@media screen and (min-width: 901px) {
  .header {
    margin: 0 auto;
    text-align: center; }
    .header .logo {
      font-size: 4em;
      padding: 0;
      display: inline-block; }

  .menu_header .menu {
    font-size: 9em;
    padding: 100px; }

  .specialities {
    font-size: 3em;
    padding: 0 0 40px 0; } }

/*# sourceMappingURL=style.css.map */
