$primary-color: #F4F4F6;
$secondary-color: #fff;
$tertiary-color: #313131;
$quaternary-color: #50bcb6;
$quinary-color: #999;
$color-bar-1: #B1EBC4;
$color-bar-2: #86C3C0;
$color-bar-3: #D25B6A;
$color-bar-4: #EBBE6A;

$primary-line-height: 1.6;

$primary-font-size: 1.25em;
$secondary-font-size: .813em;



