/*-------------Main Body-----*/
body {
  background-color: #F4F4F6;
  font-family: "Lato", sans-serif; }

.wrapper {
  width: 400px;
  overflow: hidden; }

/*-----------Colorblock Top Border------------*/
.top_border_wrapper {
  z-index: 2;
  float: left;
  width: 100%;
  position: fixed; }
  .top_border_wrapper div {
    width: 25%;
    float: left; }
    .top_border_wrapper div:first-child {
      border-top: solid #B1EBC4 3px; }
    .top_border_wrapper div:nth-child(2) {
      border-top: solid #86C3C0 3px; }
    .top_border_wrapper div:nth-child(3) {
      border-top: solid #D25B6A 3px; }
    .top_border_wrapper div:last-child {
      border-top: solid #EBBE6A 3px; }

/*-------------------------Links Styling--------------------------*/
a {
  text-decoration: none;
  color: #313131; }
  a:hover {
    color: #50bcb6; }

/*----Large screen navigation menus-----------*/
.header_nav {
  display: none; }

.sidebar_nav {
  display: none; }

.list_header_large {
  display: none; }

/*------The Header for the small screen navigation------*/
.list_header {
  width: 400px;
  background-color: #F4F4F6;
  position: fixed;
  z-index: 1;
  border-bottom: solid #E9EAEC 1px; }
  .list_header ul {
    overflow: hidden;
    padding: 10px 10px 10px 15px;
    margin: 0; }
    .list_header ul li {
      text-decoration: none;
      float: left;
      display: inline-block; }
      .list_header ul li:first-child {
        padding-top: 8px;
        padding-right: 10px; }
      .list_header ul li:nth-child(4) {
        float: right;
        padding-right: 40px;
        padding-top: 10px; }
      .list_header ul li:nth-child(3) {
        float: right;
        padding-top: 10px; }
      .list_header ul li h1 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1em;
        vertical-align: middle;
        padding-top: 9px; }

/*------All the article sections------*/
.article_wrapper {
  padding-top: 51px; }

.row {
  background-color: #fff;
  overflow: hidden; }
  .row .col-1 {
    overflow: hidden;
    border-top: solid #E9EAEC 1px;
    position: relative; }
    .row .col-1 div p {
      margin: 0; }
    .row .col-1 .article_title {
      width: 75%;
      float: left;
      padding: 24px 0 0 24px;
      box-sizing: border-box;
      font-size: 1em; }
    .row .col-1 .source_image {
      display: none; }
    .row .col-1 .article_source_website {
      padding: 10px 0 40px 24px;
      max-width: 75%;
      margin: 0; }
      .row .col-1 .article_source_website a {
        color: #999;
        font-size: 0.813em; }
    .row .col-1 .article_img {
      float: right;
      max-width: 85px; }
      .row .col-1 .article_img .love_bug {
        background: url(../images/love_bug.jpg) 0 0 no-repeat;
        background-size: cover;
        background-position: 50%;
        right: 0;
        position: absolute;
        height: 100%;
        width: 80px; }
      .row .col-1 .article_img .greyed_out {
        background-color: #E9EAEC;
        background-size: cover;
        background-position: 50%;
        right: 0;
        position: absolute;
        height: 100%;
        width: 80px; }
      .row .col-1 .article_img .cartoon {
        background: url(../images/cartoon.jpeg) 0 0 no-repeat;
        background-size: cover;
        background-position: 50%;
        right: 0;
        position: absolute;
        height: 100%;
        width: 80px; }
      .row .col-1 .article_img .instagram {
        background: url(../images/instagram.jpg) 0 0 no-repeat;
        background-size: cover;
        background-position: 50%;
        right: 0;
        position: absolute;
        height: 100%;
        width: 80px; }
      .row .col-1 .article_img .google {
        background: url(../images/google.jpg) 0 0 no-repeat;
        background-size: cover;
        background-position: 50%;
        right: 0;
        position: absolute;
        height: 100%;
        width: 80px; }
      .row .col-1 .article_img .jcrew {
        background: url(../images/jcrew.jpg) 0 0 no-repeat;
        background-size: cover;
        background-position: 50%;
        right: 0;
        position: absolute;
        height: 100%;
        width: 80px; }
      .row .col-1 .article_img .tumblr {
        background: url(../images/tumblr.jpg) 0 0 no-repeat;
        background-size: cover;
        background-position: 50%;
        right: 0;
        position: absolute;
        height: 100%;
        width: 80px; }

.footer {
  padding: 20px; }

@media screen and (min-width: 671px) {
  .wrapper {
    width: 100%; }

  /*HEADER*/
  .header_nav {
    display: block;
    z-index: 1;
    position: fixed;
    padding-left: 30px;
    margin-top: 3px;
    background-color: #F4F4F6;
    width: 100%;
    border-bottom: solid #DEDFE2 1px; }
    .header_nav .nav {
      float: left;
      display: inline-block;
      width: 100%; }
      .header_nav .nav .logo {
        padding-top: 10px; }
      .header_nav .nav ul {
        list-style-type: none;
        display: inline-block; }
        .header_nav .nav ul li {
          display: inline-block; }
      .header_nav .nav .upgrade {
        display: inline-block;
        float: right;
        box-sizing: border-box;
        padding: 16px 60px 16px 20px;
        border-left: solid #DEDFE2 1px;
        font-size: .9em; }

  .strong {
    font-weight: bold; }

  .img_links {
    float: right; }
    .img_links li {
      margin-right: 20px; }

  .article_pages {
    font-size: .9em; }
    .article_pages li {
      margin-left: 30px; }

  /*------SIDEBAR------*/
  .sidebar_nav {
    display: inline-block;
    float: left;
    width: 130px;
    box-sizing: border-box;
    padding-left: 25px;
    overflow: hidden;
    position: fixed; }
    .sidebar_nav ul {
      list-style-type: none;
      padding-left: 0; }
      .sidebar_nav ul li {
        padding: 10px 0;
        font-size: 0.9em; }

  .sidebar_upper_links {
    margin-top: 70px; }

  .sidebar_line {
    border-top: solid #DEDFE2 1px;
    width: 20px; }

  .sidebar_lower_links {
    margin-top: 140px; }

  .sm_text {
    font-size: .7em;
    color: #999; }

  .app_store {
    height: 21px;
    width: 90px; }

  /*-----MAIN SECTION with MY LISTS and ARTICLES-----*/
  .main_wrapper {
    padding: 60px 30px 10px 160px;
    box-sizing: border-box;
    overflow: hidden; }

  .list_header {
    display: none; }

  .list_header_large {
    display: inline-block;
    width: 100%;
    overflow: hidden; }
    .list_header_large ul {
      padding: 0;
      overflow: hidden;
      margin: 0;
      list-style-type: none; }
      .list_header_large ul li h1 {
        font-size: 2em;
        float: left; }
      .list_header_large ul li:nth-child(2) {
        float: right;
        padding-top: 25px; }
      .list_header_large ul li:nth-child(3) {
        float: right;
        padding-top: 25px;
        padding-right: 30px; }

  .article_wrapper {
    padding-top: 0; }

  .row {
    margin-top: 2%;
    background-color: #F4F4F6;
    height: 285px;
    overflow: hidden; }
    .row .col-1 {
      width: 32%;
      float: left;
      box-sizing: border-box;
      margin-right: 2%;
      border: none;
      background-color: #fff;
      overflow: hidden;
      box-sizing: border-box;
      height: 100%; }
      .row .col-1:last-child {
        margin-right: 0; }
      .row .col-1 .article_title {
        width: 100%;
        float: none;
        padding: 10px 0 10px 10px; }
      .row .col-1 .article_img {
        float: none;
        max-width: 100%; }
        .row .col-1 .article_img .love_bug, .row .col-1 .article_img .greyed_out, .row .col-1 .article_img .cartoon, .row .col-1 .article_img .instagram, .row .col-1 .article_img .google, .row .col-1 .article_img .jcrew, .row .col-1 .article_img .tumblr {
          height: 175px;
          width: 100%;
          bottom: 40px; }
      .row .col-1 .source_image {
        display: inline-block;
        position: absolute;
        bottom: 10px;
        left: 10px; }
      .row .col-1 .article_source_website {
        max-width: 100%;
        padding: 0 0 0 35px;
        position: absolute;
        bottom: 12px; } }

/*# sourceMappingURL=style.css.map */
