@import 'variables';


/*-------------Main Body-----*/

body {
	background-color: $primary-color;
}

.wrapper {
	width: 400px;
}


/*-----------Colorblock Top Border------------*/

.top_border_wrapper	 {

	div {
		width: 25%;
		float:left;

		&:first-child {
			border-top: solid $color-bar-1 3px;
		}

		&:nth-child(2) {
			border-top: solid $color-bar-2 3px;
		}
		&:nth-child(3) {
			border-top: solid $color-bar-3 3px;
		}
		&:last-child {
			border-top: solid $color-bar-4 3px;
		}
	}
}

/*------The Header for the small screen navigation------*/

ul {
	overflow: hidden;
	padding: 20px;
	margin: 0;

	li {
	text-decoration: none;
	float: left;

		&:first-child {
		padding-top: 10px;
		padding-right: 10px;
		}

		&:nth-child(4) {
		float: right;
		padding-right: 40px;
		padding-top: 15px;
		}

		&:nth-child(3) {
		float: right;
		padding-top: 15px;
		}

		h1 {
		margin-top: 0;
		margin-bottom: 0;
		}
	}
}


/*------All the article sections------*/

.row {
	background-color: $secondary-color;
	clear: both;
	overflow: hidden;
	
	.col-1 {
		overflow: hidden;
		border-top: solid #E9EAEC 2px;

		div {
			// overflow: hidden;
			// display: inline-block;

			p {
				margin: 0;
			}
		}

		.article_title {
			width: 75%;
			float: left;
			padding: 24px 0 0 24px;
			box-sizing: border-box;
		}

		.article_source_website {
			padding: 10px 0 45px 24px;
			max-width: 75%;
			float: left;
			margin: 0;
		}

		.article_img {
			float: right;
			max-width: 85px;
			display: inline-block;
		}

		img {
			max-width: 85px;
			display: inline-block;
		}
	}
}	

.footer {
	padding: 20px;
}