/*Pop Art Styling for CSS Zen Garden*/

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:300|Rubik);
@import 'normalize', 'variables';


/*--Small screen padding--*/

body {
	margin: 0;
}

header, .summary, .preamble, .explanation, .participation, .benefits, .requirements, .design-selection, .design-archives, .zen-resources {
	padding: 2em 1em;
}

footer {
	padding: 2em calc(50% - 150px);
}

/*--Background colors--*/


header {
	background-color: $red-background;
	font-family: $header-font;
	color: $header-font-color;
	border-top: 26px solid black;
	text-shadow: 1px 1px $blue-background, 2px 0 $blue-background;
}

header:after {
	content: "POP AT YOUR OWN RISK";
	margin: 0 auto;
	display: block;
	color: $blue-background;
	font-size: 3em;
	font-family: $subheader-font;
	font-weight: 700;
	width: 100px;
	text-align: center;
	padding-left: 0;
	text-shadow: 1px 1px $yellow-background, 
		2px 2px $yellow-background, 
		3px 3px $yellow-background, 
		4px 4px $yellow-background, 
		5px 5px $yellow-background, 
		6px 6px $yellow-background, 
		7px 7px $yellow-background, 
		8px 8px $yellow-background, 
		9px 9px $yellow-background, 
		10px 10px $yellow-background, 
		11px 11px $yellow-background, 
		12px 12px $yellow-background, 
		13px 13px $yellow-background, 
		14px 14px $yellow-background, 
		15px 15px $yellow-background, 
		16px 16px $yellow-background, 
		17px 17px $yellow-background, 
		18px 18px $yellow-background, 
		19px 19px $yellow-background, 
		20px 20px $yellow-background, 
		21px 21px $yellow-background, 
		22px 22px $yellow-background, 
		23px 23px $yellow-background, 
		24px 24px $yellow-background, 
		25px 25px $yellow-background, 
		26px 26px 6px darken($yellow-background, 60%);
}

.summary {
	background-color: $red-background;
	border-bottom: 26px solid black;
	font-size: 1em;
	color: white;

	a {
		color: #fff;
		border-bottom: solid 1px #fff;
	}
}

.preamble, .requirements {
	background-color: $blue-background;
	border-bottom: 26px solid black;

	h3 {
		text-shadow: 1px 1px $yellow-background, 2px 0 $yellow-background;
	}
}

/*--Border striped background Explanation--*/

.explanation {
	background: repeating-linear-gradient(60deg, 
    white, white 15px,
    black 0, black 30px)
}

.explanation {

	h3, p {
	background-color: $yellow-background;
	padding: 30px;
	margin: 0;
	box-shadow: 0 10px 4px -4px black;
	}
	
	h3 {
    	text-shadow: 1px 1px #fff, 2px 0 #fff;
	}
}

.participation {
	background-color: $yellow-background;
	border-bottom: 26px solid black;

	h3 {
    	text-shadow: 1px 1px #fff, 2px 0 #fff;
	}
}

.benefits {
	background: $red-background;
	border-bottom: 26px solid black;

	h3, p {
		color: white;
	}

	h3 {
    	text-shadow: 1px 1px $blue-background, 2px 0 $blue-background;
	}
}


.design-selection {
	background: $yellow-background;
	// background-image: radial-gradient(black 40%, transparent 0),
 //    radial-gradient(black 40%, transparent 0);
	// background-size: 30px 30px;
	// background-position: 0 0, 15px 15px;
	border-top: 26px solid black;

	h3, nav > ul {
		background-color: white;
		margin: 0;
		padding: 10px;
		box-shadow: 0 10px 4px -4px black;
	}

	h3 {
    	text-shadow: 1px 1px $blue-background, 2px 0 $blue-background;
	}
}

.design-archives {
	background: $blue-background;
	// background-image: radial-gradient(white 30%, transparent 0),
 //    radial-gradient(white 30%, transparent 0);
	// background-size: 30px 30px;
	// background-position: 0 0, 15px 15px;
	border-bottom: 26px solid black;
	border-top: 26px solid black;

	h3, nav > ul {
		background-color: white;
		margin: 0;
		padding: 10px;
		box-shadow: 0 10px 4px -4px black;
	}

	h3 {
    	text-shadow: 1px 1px $blue-background, 2px 0 $blue-background;
	}
}

.zen-resources {
	background: $red-background;
	// background-image: radial-gradient(white 20%, transparent 0),
 //    radial-gradient(white 20%, transparent 0);
	// background-size: 30px 30px;
	// background-position: 0 0, 15px 15px;
	border-bottom: 26px solid black;


	h3, ul {
		background-color: white;
		margin: 0;
		padding: 10px;
		box-shadow: 0 10px 4px -4px black
	}

	h3 {
    	text-shadow: 1px 1px $blue-background, 2px 0 $blue-background;
	}
}


/*--Links styling--*/

ul {
	-webkit-padding-start: 0;
	li {
	list-style-type: none;
	padding: 10px 0;
	font-family: $body-font;
	}
}

a {
	color: black;
	text-decoration: none;
	border-bottom: solid 1px black;
	padding-bottom: 2px;
	line-height: 1.5em;
}

header, .summary, .preamble, .explanation, .participation, .benefits, .requirements, .design-selection, .design-archives, .zen-resources {
	a {
		&:hover {
		color: $gray-background;
		border-bottom: solid 1px $gray-background;
		}
	}
}
abbr[title] {
	border-bottom: none;
}

/*--Fonts--*/

h2 {
	font-size: 3.5em;
}

h3 {
	font-size: 2.5em;
	font-family: $subheader-font;
}

p {
	font-family: $body-font;
	line-height: 1.5em;
	font-size: 1.1em;
}

/*--button animation-*/

.zen-validate-html, 
.zen-validate-css,
.zen-license,
.zen-accessibility,
.zen-github {
	position: relative;
	border: 6px solid black;
	// z-index: 2;
	padding: 12px 22px;
	margin: 20px auto;
	box-sizing: border-box;
	text-decoration: none;
	color: black;
	display: block;
	max-width: 30%;
	font-family: $subheader-font;
	font-weight: 700;
	text-align: center;
	}

.zen-validate-html:hover:before, 
.zen-validate-css:hover:before,
.zen-license:hover:before,
.zen-accessibility:hover:before,
.zen-github:hover:before {
	top: 0;
	left: 0;
	width: 102%;
	height: 100%;
	}

.zen-validate-html:hover:active, 
.zen-validate-css:hover:active,
.zen-license:hover:active,
.zen-accessibility:hover:active,
.zen-github:hover:active {
	top: -10px;
	left: 18px;
	width: 102%;
	height: 100%;
	}

.zen-validate-html:before, 
.zen-validate-css:before,
.zen-license:before,
.zen-accessibility:before,
.zen-github:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 12px;
	left: -14px;
	width: calc(100% + 6px);
	height: calc(100% + 6px);
	background-color: #f9d159;
	-webkit-transition: all 0.3s ease;
	      transition: all 0.3s ease;
	}

.zen-validate-html:before,
.zen-github:before {
	background-color: $yellow-background;
	}

.zen-validate-css:before, .zen-accessibility:before {
	background-color: $red-background;
	}

.zen-license:before {
	background-color: $blue-background;
	}



@media screen and (min-width: 601px) {

	header:after {
		content: "POP AT YOUR OWN RISK";
		margin: 0 auto;
		display: block;
		color: $blue-background;
		font-size: 7em;
		font-family: $subheader-font;
		font-weight: 700;
		width: 300px;
		text-align: center;
		padding-left: 0;
		text-shadow: 1px 1px $yellow-background, 
			2px 2px $yellow-background, 
			3px 3px $yellow-background, 
			4px 4px $yellow-background, 
			5px 5px $yellow-background, 
			6px 6px $yellow-background, 
			7px 7px $yellow-background, 
			8px 8px $yellow-background, 
			9px 9px $yellow-background, 
			10px 10px $yellow-background, 
			11px 11px $yellow-background, 
			12px 12px $yellow-background, 
			13px 13px $yellow-background, 
			14px 14px $yellow-background, 
			15px 15px $yellow-background, 
			16px 16px $yellow-background, 
			17px 17px $yellow-background, 
			18px 18px $yellow-background, 
			19px 19px $yellow-background, 
			20px 20px $yellow-background, 
			21px 21px $yellow-background, 
			22px 22px $yellow-background, 
			23px 23px $yellow-background, 
			24px 24px $yellow-background, 
			25px 25px $yellow-background, 
			26px 26px 6px darken($yellow-background, 60%);
		transition: 4s ease;
		transition-delay: 5s;
		}

	header:hover:after {
		color: darken($blue-background, 20%);
		text-shadow: 1px 1px $green-background, 
		2px 2px $green-background, 
		3px 3px $green-background, 
		4px 4px $green-background, 
		5px 5px $green-background, 
		6px 6px $green-background, 
		7px 7px $green-background, 
		8px 8px $green-background, 
		9px 9px $green-background, 
		10px 10px $green-background, 
		11px 11px $green-background, 
		12px 12px $green-background, 
		13px 13px $green-background, 
		14px 14px $green-background, 
		15px 15px $green-background, 
		16px 16px $green-background, 
		17px 17px $green-background, 
		18px 18px $green-background, 
		19px 19px $green-background, 
		20px 20px $green-background, 
		21px 21px $green-background, 
		22px 22px $green-background, 
		23px 23px $green-background, 
		24px 24px $green-background, 
		25px 25px $green-background, 
		26px 26px 6px darken($green-background, 60%);
	}


	.summary, .preamble, .explanation, .participation, .benefits, .requirements, .design-selection, .design-archives, .zen-resources {
		padding: 2em calc(50% - 250px);
	}

	header {
		padding: 20px;

		h1 {
			display: inline-block;
			float: left;
			padding-bottom: 20px;
		}

		h2 {
			text-align: center;
			margin: 0 auto;
			display: block;
			clear: both;
		}
	}



	footer {
		padding: 10px;
		display: inline-block;
	}

	.zen-validate-html, 
	.zen-validate-css,
	.zen-license,
	.zen-accessibility,
	.zen-github {
		margin: 50px 20px;
		display: inline-block;
	}

	.explanation, .participation, .benefits, .requirements, .design-selection, .design-archives, .zen-resources {
		p, nav ul, ul {
			padding: 30px 30px 30px 100px;
			margin: 0;
		}
	}
}

@media screen and (min-width: 901px) {
	
	header {

		h2 {
			padding: 40px;
		}
	}

	.sidebar {
		width: 25%;
		display: inline-block;
		float: right;
		padding: 0;
		.design-selection, .design-archives, .zen-resources {
			padding: 20px;
			background: none;
			border: none;

			p, nav ul, ul {
				padding: 30px;
			}
			
			ul {
				box-shadow: none; 
			}
		}
	}
	.main {
		width: 75%;
		float: left;
	}

	.requirements {
		border-bottom: none;
	}
}
